# Logs
client/web/logs
client/web/*.log
client/web/npm-debug.log*
client/web/yarn-debug.log*
client/web/yarn-error.log*
client/web/pnpm-debug.log*
client/web/lerna-debug.log*
client/
client/web/node_modules
client/web/.DS_Store
client/web/dist
client/web/dist-ssr
client/web/coverage
client/web/*.local
client/
client/# Editor directories and files
client/web/.vscode/*
client/web/!.vscode/extensions.json
client/web/.idea
client/web/*.suo
client/web/*.ntvs*
client/web/*.njsproj
client/web/*.sln
client/web/*.sw?
client/web/.env
client/
client/web/*.tsbuildinfo
client/
client/web/.eslintcache
client/
client/# Cypress
client/web/cypress/videos/
client/web/cypress/screenshots/
client/
client/# Vitest
client/web/__screenshots__/


.vscode/*
test-tape.dgc
