# Logs
client/web/logs
client/web/*.log
client/web/npm-debug.log*
client/web/yarn-debug.log*
client/web/yarn-error.log*
client/web/pnpm-debug.log*
client/web/lerna-debug.log*
client/web/node_modules
client/web/dist
client/web/*.local
client/web/*.suo
client/web/*.ntvs*
client/web/*.njsproj
client/web/.env
client/web/*.tsbuildinfo
client/web/.eslintcache
client/web/cypress/videos/
client/web/cypress/screenshots/
client/web/__screenshots__/

test-tape.dgc
