@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter";
}

html, body {
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100vh;
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

.page > header {
 
}
.page > main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page > footer {
 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}